/* 北秋颜色 */
:root {
    --beiqiu-theme-op: #4259ef23;
    --beiqiu-card-bg-none: rgba(255, 255, 255, 0);
    --beiqiu-main-op-deep: var(--beiqiu-theme-op-deep) !important;
    --beiqiu-gray-op: #9999992b;
    --beiqiu-theme-top: var(--beiqiu-theme);
    --beiqiu-white: #fff;
    --beiqiu-white-op: rgba(255, 255, 255, 0.2);
    --beiqiu-black: #000;
    --beiqiu-black-op: rgba(0, 0, 0, 0.2);
    --beiqiu-none: rgba(0, 0, 0, 0);
    --beiqiu-gray: #999999;
    --beiqiu-yellow: #ffc93e;
    --beiqiu-orange: #e38100;
    --beiqiu-border-radius: 8px;
    --beiqiu-main: var(--beiqiu-theme);
    --beiqiu-main-op: var(--beiqiu-theme-op);
    --beiqiu-shadow-theme: 0 8px 12px -3px var(--beiqiu-theme-op);
    --beiqiu-shadow-main: 0 8px 12px -3px var(--beiqiu-main-op);
    --beiqiu-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, 0.2);
    --beiqiu-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, 0.2);
    --beiqiu-shadow-black: 0 0 12px 4px rgba(0, 0, 0, 0.05);
    --beiqiu-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, 0.12);
    --beiqiu-shadow-red: 0 8px 12px -3px #ee7d7936;
    --beiqiu-shadow-green: 0 8px 12px -3px #87ee7936;
    --beiqiu-shadow-border: 0 8px 16px -4px #2c2d300c;
    --beiqiu-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, 0.15);
    --beiqiu-logo-color: linear-gradient(215deg, #4584ff 30%, #ff7676 70%);
    --style-border: 1px solid var(--beiqiu-card-border);
    --beiqiu-blue-main: #3b70fc;
    --style-border-hover: 1px solid var(--beiqiu-main);
    --style-border-dashed: 1px dashed var(--beiqiu-theme-op);
    --style-border-avatar: 4px solid var(--beiqiu-background);
    --style-border-always: 1px solid var(--beiqiu-card-border);
    --style-border-none: 1px solid transparent;
    --beiqiu-white-acrylic1: #fefeff !important;
    --beiqiu-white-acrylic2: #fcfdff !important;
    --beiqiu-black-acrylic2: #08080a !important;
    --beiqiu-black-acrylic1: #0b0b0e !important;
    --beiqiu-main-none: #b8b8b800 !important;
}

[data-theme="light"] {
    --beiqiu-theme-op-deep: #f47466;
    --global-bg: #f7f9fe;
    --beiqiu-theme: #f47466;
    --beiqiu-theme-deep: #f47466;
    --beiqiu-theme-op: #4259ef23;
    --beiqiu-blue: #3b70fc;
    --beiqiu-red: #d8213c;
    --beiqiu-pink: #ff7c7c;
    --beiqiu-green: #57bd6a;
    --beiqiu-fontcolor: #363636;
    --beiqiu-background: #f7f9fe;
    --beiqiu-reverse: #000;
    --beiqiu-maskbg: rgba(255, 255, 255, 0.6);
    --beiqiu-maskbgdeep: rgba(255, 255, 255, 0.85);
    --beiqiu-hovertext: var(--beiqiu-theme);
    --beiqiu-ahoverbg: #f7f7fa;
    --beiqiu-lighttext: var(--beiqiu-main);
    --beiqiu-secondtext: rgba(60, 60, 67, 0.6);
    --beiqiu-scrollbar: rgba(60, 60, 67, 0.4);
    --beiqiu-card-btn-bg: #edf0f7;
    --beiqiu-post-blockquote-bg: #fafcff;
    --beiqiu-post-tabs-bg: #f2f5f8;
    --beiqiu-secondbg: #f1f3f8;
    --beiqiu-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --beiqiu-card-bg: #fff;
    --beiqiu-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --beiqiu-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --beiqiu-card-border: #e3e8f7;
}

[data-theme="dark"] {
    --beiqiu-theme-op-deep: #f47466;
    --global-bg: #18171d;
    --beiqiu-theme: #f47466;
    --beiqiu-theme-deep: #f47466;
    --beiqiu-theme-op: #0084ff23;
    --beiqiu-blue: #0084ff;
    --beiqiu-red: #ff3842;
    --beiqiu-pink: #ff7c7c;
    --beiqiu-green: #57bd6a;
    --beiqiu-fontcolor: #f7f7fa;
    --beiqiu-background: #18171d;
    --beiqiu-reverse: #fff;
    --beiqiu-maskbg: rgba(0, 0, 0, 0.6);
    --beiqiu-maskbgdeep: rgba(0, 0, 0, 0.85);
    --beiqiu-hovertext: #0a84ff;
    --beiqiu-ahoverbg: #fff;
    --beiqiu-lighttext: #f2b94b;
    --beiqiu-secondtext: #a1a2b8;
    --beiqiu-scrollbar: rgba(200, 200, 223, 0.4);
    --beiqiu-card-btn-bg: #30343f;
    --beiqiu-post-blockquote-bg: #000;
    --beiqiu-post-tabs-bg: #121212;
    --beiqiu-secondbg: #30343f;
    --beiqiu-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
    --beiqiu-card-bg: #1d1b26;
    --beiqiu-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --beiqiu-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --beiqiu-card-border: #42444a;
}

/*背景颜色*/
/*#recent-posts > .recent-post-item,
.layout_page > div:first-child:not(.recent-posts),
.layout_post > #page,
.layout_post > #post,
.read-mode .layout_post > #post {
    background: var(--light_bg_color);
}

#aside-content .card-widget {
    background: var(--light_bg_color);
}*/
#body-wrap {
    background: linear-gradient(90deg,rgba(247,149,51,.1),rgba(243,112,85,.1) 15%,rgba(239,78,123,.1) 30%,rgba(161,102,171,.1) 44%,rgba(80,115,184,.1) 58%,rgba(16,152,173,.1) 72%,rgba(7,179,155,.1) 86%,rgba(109,186,130,.1))
}
/* 设置全局字体 */
@font-face {
    font-family: 'bq';
    src: url('https://npm.elemecdn.com/ethan4116-blog/lib/font/ZhuZiAWan.ttf');
    font-display: swap;
}

body,
.gitcalendar {
    font-family: bq !important;
}
/*标题样式*/
#article-container h1:before,
#article-container h2:before,
#article-container h3:before,
#article-container h4:before,
#article-container h5:before,
#article-container h6:before,
#post .post-outdate-notice:before,
.fontawesomeIcon,
.note:not(.no-icon)::before,
hr:before {
    display: inline-block;
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    font-family: 'Font Awesome 5 Free';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased
}
#article-container h1:before,
#article-container h2:before,
#article-container h3:before,
#article-container h4:before,
#article-container h5:before,
#article-container h6:before {
    position: absolute;
    color: #f47466;
    line-height: 1;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out;
    /* 若要使用风车效果，请去掉下面的注释 */
    content: '\f863';
    animation: avatar_turn_around 1.5s linear infinite;
    /* 回形针 */
    /*content: '\f0c1';*/
}
#article-container h1 {
    padding-left: 1.4rem
}

#article-container h1 code {
    font-size: 1rem
}

#article-container h1:before {
    margin-left: -1.3rem;
    top: calc(50% - .65rem);
    font-size: 1rem
}

#article-container h1:hover {
    padding-left: 1.6rem
}

#article-container h2 {
    padding-left: 1.3rem
}

#article-container h2 code {
    font-size: .9rem
}

#article-container h2:before {
    margin-left: -1.4rem;
    top: calc(50% - .6rem);
    font-size: .9rem
}

#article-container h2:hover {
    padding-left: 1.5rem
}

#article-container h3 {
    padding-left: 1.2rem
}

#article-container h3 code {
    font-size: .8rem;
    top: calc(50% - .4rem);

}

#article-container h3:before {
    margin-left: -1.2rem;
    top: calc(50% - .55rem);
    font-size: .8rem
}

#article-container h3:hover {
    padding-left: 1.4rem
}

#article-container h4 {
    padding-left: 1.1rem
}

#article-container h4 code {
    font-size: .7rem
}

#article-container h4:before {
    margin-left: -1rem;
    top: calc(50% - .5rem);
    font-size: .7rem
}

#article-container h4:hover {
    padding-left: 1.3rem
}

#article-container h5 {
    padding-left: 1rem
}

#article-container h5 code {
    font-size: .6rem
}

#article-container h5:before {
    margin-left: -.8rem;
    top: calc(50% - .45rem);
    font-size: .6rem
}

#article-container h5:hover {
    padding-left: 1.2rem
}

#article-container h6 {
    padding-left: 1rem
}

#article-container h6 code {
    font-size: .6rem
}

#article-container h6:before {
    margin-left: -.8rem;
    top: calc(50% - .45rem);
    font-size: .6rem
}

#article-container h6:hover {
    padding-left: 1.2rem
}
/*滚动条颜色*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 2em;
    /* background-color: rgba(73, 177, 245, .2); */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(244, 116, 102);
    background-image: -webkit-linear-gradient(45deg, rgb(244, 116, 102) 25%, transparent 25%, transparent 50%, rgb(244, 116, 102) 50%, rgb(244, 116, 102) 75%, transparent 75%, transparent);
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

/*css优化*/
/* 设置分类栏列表的最大高度为400像素 */
.categoryBar-list {
    max-height: 400px;
}
/* 设置时钟行的溢出处理和文本省略效果 */
.clock-row {
    overflow: hidden; /* 隐藏溢出内容 */
    text-overflow: ellipsis; /* 使用省略号表示溢出文本 */
}
/* 页面头部和网页背景动画效果  1s为加载动画的时间 1为加载动画的次数 ease-in-out为动画的时间函数*/
#page-header,
#web_bg {
    -webkit-animation: imgblur 0.5s 1 ease-in-out; /* 使用WebKit内核的浏览器动画效果 */
    animation: imgblur 0.5s 1 ease-in-out; /* 标准动画效果 */
}
/* 图片模糊动画效果 定义了一个名为 imgblur 的动画*/
@keyframes imgblur {
    0% {
        filter: blur(5px); /* 图片模糊5像素 */
    }
    100% {
        filter: blur(0px); /* 取消图片模糊效果 */
    }
}
/* 适配使用WebKit内核的浏览器 */
@-webkit-keyframes imgblur {
    0% {
        -webkit-filter: blur(5px); /* 图片模糊5像素 */
    }
    100% {
        -webkit-filter: blur(0px); /* 取消图片模糊效果 */
    }
}
/* 表格外包装图片样式 */
.table-wrap img {
    margin: .6rem auto .1rem !important; /* 设置图片外边距 */
}
/* 网站卡片样式 */
.site-card-group img {
    margin: 0 auto .1rem !important; /* 设置图片外边距 */
}
.site-card-group .info a img {
    margin-right: 10px !important; /* 设置图片右边距 */
}
[data-theme='dark'] .site-card-group .site-card .info .title {
    color: #f0f0f0 !important; /* 暗色主题下标题颜色 */
}

[data-theme='dark'] .site-card-group .site-card .info .desc {
    color: rgba(255, 255, 255, .7) !important; /* 暗色主题下描述颜色 */
}
.site-card-group .info .desc {
    margin-top: 4px !important; /* 设置描述元素上边距 */
}
/* 代码块颜色 */
figure.highlight pre .addition {
    color: #00bf03 !important; /* 设置.addition类的颜色 */
}
/*弹框样式*/
.message {
    position: fixed;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.message.show {
    opacity: 1;
    visibility: visible;
}

.message-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    line-height: 14px;
}

/* 自定义底部  start */
#ft {
    max-width: 1200px;
    margin: 0 auto 12px;
    display: flex;
    color: rgb(255 255 255 / 80%) !important;
    text-align: left;
    flex-wrap: wrap;
}

.ft-item-1,
.ft-item-2 {
    display: flex;
    height: 100%;
    padding: 10px 14px;
}

.ft-item-1 {
    flex-direction: column;
    flex: 2;
}

.ft-item-2 {
    flex: 1;
    flex-direction: column;
}

.t-top {
    display: flex;
}

.t-top .t-t-l {
    display: flex;
    flex-direction: column;
    flex: 1.4;
    margin-right: 10px;
}

.t-top .t-t-l .bg-ad {
    width: 85%;
    border-radius: 10px;
    padding: 0 10px;
}

.btn-xz-box {
    margin-top: 10px;
}

.btn-xz {
    border-radius: 6px;
    display: block;
    background-color: #1f1f1f;
    color: #ffffff;
    text-align: center;
    line-height: 2.4;
    margin: 8px 0;
    cursor: pointer !important;
}

.btn-xz-box:hover .btn-xz {
    background-color: #f47466;
}

.btn-xz:hover {
    text-decoration: none !important;

}

.btn-xz-box:hover .btn-xz {
    background-color: #f47466;
}

.t-top .t-t-r {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ft-links {
    padding: 0 14px;
    list-style: none;
    margin-top: 0 !important;
}

.ft-links li a {
    display: inline-block !important;
    width: 50%;
    cursor: pointer !important;
}

.ft-links li a:hover {
    text-decoration: none !important;
    color: #f47466 !important;
}

.ft-item-2 .ft-img-group {
    width: 100%;
}

.ft-t {
    font-size: 0.8rem;
    margin-bottom: 20px;
    line-height: 1;
    font-weight: 600;
}

.t-l-t {
    padding-left: 14px;
}

.ft-item-2 .ft-img-group .img-group-item {
    display: inline-block;
    width: 18.6%;
    margin-right: 14px;
    margin-bottom: 6px;
}

.ft-item-2 .ft-img-group .img-group-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer !important;
}

.ft-item-2 .ft-img-group .img-group-item a img {
    width: 100%;
    max-height: 80px;
    border-radius: 6px;
}

@media screen and (max-width: 768px) {

    .ft-item-1 {
        flex-basis: 100% !important;
    }

    .ft-item-2 {
        flex-basis: 100% !important;
    }

    .t-top .t-t-l .bg-ad {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .t-top {
        flex-wrap: wrap;
    }

    .t-top .t-t-l {
        flex-basis: 100% !important;

    }

    .t-top .t-t-r {
        margin-top: 16px;
        flex-basis: 100% !important;
    }
}
/* 404自定义 */
#error-wrap .error-content .error-info a:hover {
    background-color: #f47466;
    transition: .3s;
    box-shadow: rgba(244, 116, 102, 0.88);
}
#error-wrap .error-content .error-info a {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.3rem 1.5rem;
    background: rgba(244, 116, 102, 0.88);
    color: var(--btn-color);
}
.button--animated {
    position: relative;
    z-index: 1;
    border-radius: 8px!important;
    transition: .3s;
    width: 108px;
    margin: auto;
    margin-bottom: 0px;
}
/* 加密文件输入框字符大小 */
.hbe-input-field-wave {
    font-size: 2.2em !important;
}
/* 复选框颜色更改 */
.checkbox input[type="checkbox"]:checked {
    background: #f7afa7 !important;
}
.checkbox input {
    border: 2px solid #f7afa7 !important;
}
/* 赞助墙 */
.bq-reward-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.bq-reward-box .reward-list-all {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: .5rem;
    /* margin-top: 1rem; */
    margin-bottom: 0.5rem;
    margin-left: -0.25rem;
    margin-right: -0.25rem;
    /* width: 100%; */
}

.bq-reward-box .reward-list-all .reward-list-item {
    padding: 1rem;
    border-radius: 12px;
    border: 1px solid #e3e3e3;
    width: calc((100% / 5) - 0.5rem);
    margin: 0rem 0.25rem 0.5rem 0.25rem;
    /* box-shadow: var(--heo-shadow-border); */
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .bq-reward-box .reward-list-all .reward-list-item {
        width: calc((100% / 4) - 0.5rem);
    }
}

@media screen and (max-width: 900px) {
    .bq-reward-box .reward-list-all .reward-list-item {
        width: calc((100% / 2) - 0.5rem);
    }
}

@media screen and (max-width: 768px) {
    .bq-reward-box .reward-list-all .reward-list-item {
        width: 100%;
    }
}

.bq-reward-box .bq-reward-box-description {
    font-size: 16px;
    margin-top: 0.5rem;
}

.bq-reward-box .reward-list-all .reward-list-item .reward-list-item-name {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    /* 防止文本换行 */
    overflow: hidden;
    /* 隐藏超出容器的文本 */
    text-overflow: ellipsis;
    /* 用省略号表示被截断的文本 */
    color: #444444;
}

.bq-reward-box .reward-list-all .reward-list-item .reward-list-bottom-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bq-reward-box .reward-list-all .reward-list-item .reward-list-item-money {
    padding: 4px;
    background: #444444;
    color: #ffffff;
    font-size: 12px;
    line-height: 1;
    border-radius: 4px;
    margin-right: 4px;
    white-space: nowrap;
}

.bq-reward-box .reward-list-all .reward-list-item .reward-list-item-time {
    font-size: 12px;
    color: #666666;
    white-space: nowrap;
}
/* Twikoo评论样式 */
#twikoo a {
    color: #f47466;
    text-decoration: underline;
}

#twikoo .tk-footer a {
    text-decoration: none;
}

.el-loading-spinner .path {
    stroke: #f47466 !important;
}

#page .tk-comments-container>.tk-comment {
    border-bottom: 1px dashed #e3e3e3;
    margin-bottom: 0.2rem;
    padding-bottom: 1.2rem;
}

#twikoo .tk-content {
    /* background: rgba(40, 40, 40, .6); */
    padding: 0 18px;
    /* padding: 10px 18px; */
    border-radius: 10px;
}

#twikoo .tk-replies .tk-content {
    /* padding: 10px 18px !important; */
    padding: 14px 18px 0 !important;
}

/* [data-theme="dark"] #twikoo .tk-content{
    background: rgba(40, 40, 40,.6);
} */
.tk-tag-green {
    margin: 0 4px 0 0;
    background-color: #f7afa7 !important;
    color: #fff !important;
    border-color: #f7afa7 !important;
}

[data-theme="dark"] .tk-tag-green {
    background-color: #55585a !important;
    color: #fff !important;
    border-color: #55585a !important;
}

.tk-replies>.tk-comment {
    border-top: 1px dashed #e3e3e3;
    padding-top: 0.7rem;
    margin-top: 4px;
}

.tk-avatar {
    margin-right: 0.6rem !important;
}

.tk-nick {
    color: #f47466 !important;
    font-size: 1rem !important;
    line-height: 32px;
    margin-right: 4px;
    text-decoration: none !important;
}

.tk-actions a {
    color: #4c4948 !important;
}

.tk-actions a:hover {
    color: #f47466 !important;
    cursor: pointer !important;
}

.tk-ruser {
    color: #f47466 !important;
    text-decoration: none !important;
}

.el-button--primary {
    color: #FFF;
    background-color: #f47466 !important;
    border-color: #f47466 !important;
    border-color: #409EFF;
}

.tk-extras {
    margin-top: 0.3rem;
    padding-bottom: 0.5rem;
}

.tk-extras .tk-extra {
    border: 1px solid #e3e3e3;
    padding: 6px;
    border-radius: 4px;
    margin-right: 6px !important;
}

[data-theme="dark"] .tk-extras .tk-extra {
    border: 1px solid #999999 !important;
}

.tk-icon.__comments,
.tk-action-icon,
.tk-action-count {
    color: #f47466 !important;
    cursor: pointer !important;
}

.tk-action-link {
    text-decoration: none !important;
}

[data-theme="dark"] .tk-icon.__comments,
[data-theme="dark"] .tk-action-icon,
[data-theme="dark"] .tk-action-count {
    color: #e3e3e3 !important;
}

.tk-expand {
    border: 1px solid #e3e3e3;
    background: rgba(40, 40, 40, .6) !important;
    border-radius: 10px;
    margin-top: 12px;
    box-sizing: border-box;
}

.tk-expand:hover {
    background: #f47466 !important;
    color: #fff !important;
}

.twikoo .el-textarea__inner:focus {
    border-color: #f47466 !important;
}

[data-theme="dark"] .twikoo .el-textarea__inner:focus {
    border-color: #fff !important;
}

/* 表情包相关样式 */

.tk-input .el-textarea__inner {
    min-height: 120px !important;
}

#twikoo .OwO-body {
    max-width: 100% !important;
}

.OwO .OwO-body .OwO-items .OwO-item {
    width: 3em !important;
    padding: 4px 3px !important;
}

.OwO .OwO-body .OwO-items-emoji .OwO-item {
    font-size: 24px !important;
    line-height: 24px !important;
    width: auto !important;
    padding: 6px !important;
}

#twikoo .OwO .OwO-body .OwO-items:nth-child(1),
#twikoo .OwO .OwO-body .OwO-items:nth-child(4),
#twikoo .OwO .OwO-body .OwO-items:nth-child(5) {
    max-height: 360px !important;
}

#twikoo .OwO .OwO-body .OwO-items:nth-child(4) .OwO-item {
    width: calc((100% / 5) - 10px) !important;
    margin: 5px;
}

#twikoo .OwO .OwO-body .OwO-items:nth-child(5) .OwO-item {
    width: calc((100% / 7) - 10px) !important;
    margin: 5px;
}

#twikoo .OwO-items li[title|=menhera] img,
#twikoo .OwO-items li[title|=ikun] img {
    width: 100% !important;
}

.tk-comment .tk-owo-emotion[alt*=menhera] {
    /* width: 300px !important; */
    width: 240px !important;
}

.tk-comment .tk-owo-emotion[alt*=ikun] {
    width: 160px !important;
}

.tk-comment .vemoji[alt|=menhera],
.tk-comment .tk-owo-emotion[alt*=menhera],
.tk-comment .vemoji[alt|=ikun],
.tk-comment .tk-owo-emotion[alt*=ikun] {
    margin: 8px 1px;
    display: block !important;
    border-radius: 6px;
}

.tk-comment .vemoji[alt|=menhera],
.tk-comment .tk-owo-emotion[alt*=menhera] {
    /* max-width: 300px !important;
    max-height: 300px !important; */
    max-width: 240px !important;
    max-height: 240px !important;
}

.tk-comment .vemoji[alt|=ikun],
.tk-comment .tk-owo-emotion[alt*=ikun] {
    max-width: 160px !important;
    max-height: 160px !important;
}

@media screen and (max-width: 768px) {

    .tk-comment .vemoji[alt|=menhera],
    .tk-comment .tk-owo-emotion[alt*=menhera],
    .tk-comment .vemoji[alt|=ikun],
    .tk-comment .tk-owo-emotion[alt*=ikun] {
        max-width: calc(100% - 30px) !important;
        max-height: calc(100% - 30px) !important;
    }

    #twikoo .OwO .OwO-body .OwO-items-image .OwO-item[title*=menhera],
    #twikoo .OwO .OwO-body .OwO-items-image .OwO-item[title*=ikun] {
        box-sizing: border-box;
    }

    #twikoo .OwO .OwO-body .OwO-items-image .OwO-item[title*=menhera] {
        width: calc(33% - 10px) !important;
    }

    #twikoo .OwO .OwO-body .OwO-items-image .OwO-item[title*=ikun] {
        width: calc(25% - 10px) !important;
    }

    #twikoo .OwO .OwO-body .OwO-items-image .OwO-item {
        width: 14% !important;
        box-sizing: border-box;
    }
}
/* 音乐播放器 */
.aplayer.aplayer-narrow .aplayer-body,.aplayer.aplayer-narrow .aplayer-pic {
    height: 66px;
    width: 66px
}

@media screen and (max-width: 1200px) {
    #nav-music {
        display:none!important
    }
}

#nav-music {
    display: flex;
    align-items: center;
    z-index: 9;
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    transition: all .5s,left 0s;
    transform-origin: left bottom;
    box-shadow: var(--beiqiu-shadow-border);
    border-radius: 40px;
    overflow: hidden
}

#nav-music:active {
    transform: scale(.97)
}

#nav-music.playing {
    border: var(--style-border);
    box-shadow: 0 0 12px -3px var(--beiqiu-none);
    animation: playingShadow 5s linear infinite
}

@keyframes playingShadow {
    0% {
        box-shadow: 0 0 12px -3px var(--beiqiu-none)
    }

    50% {
        box-shadow: 0 0 12px 0 var(--beiqiu-main)
    }

    100% {
        box-shadow: 0 0 12px -3px var(--beiqiu-none)
    }
}

#nav-music .aplayer.aplayer-withlrc .aplayer-pic {
    height: 25px;
    width: 25px;
    border-radius: 40px;
    z-index: 1;
    transition: .3s;
    transform: rotate(0) scale(1);
    border: var(--style-border-always);
    animation: changeright 24s linear infinite;
    animation-play-state: paused
}

#nav-music.playing .aplayer.aplayer-withlrc .aplayer-pic {
    box-shadow: 0 0 14px #ffffffa6;
    transform: rotate(0) scale(1.1);
    border-color: var(--beiqiu-white);
    animation-play-state: running
}

@keyframes changeright {
    0% {
        transform: rotate(0) scale(1.1);
        box-shadow: 0 0 2px #ffffff00
    }

    25% {
        transform: rotate(90deg) scale(1.1);
        box-shadow: 0 0 14px #fff
    }

    50% {
        transform: rotate(180deg) scale(1.1);
        box-shadow: 0 0 2px #ffffff00
    }

    75% {
        transform: rotate(270deg) scale(1.1);
        box-shadow: 0 0 14px #fff
    }

    100% {
        transform: rotate(360deg) scale(1.1);
        box-shadow: 0 0 2px #ffffff00
    }
}

#nav-music .aplayer.aplayer-withlrc .aplayer-info {
    height: 100%;
    color: var(--beiqiu-fontcolor);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center
}

#nav-music.playing .aplayer.aplayer-withlrc .aplayer-info {
    color: var(--beiqiu-white)
}

#nav-music.playing #nav-music-hoverTips {
    width: 0;
    opacity: 0
}

#nav-music #nav-music-hoverTips {
    color: var(--beiqiu-white);
    background: var(--beiqiu-main);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 40px;
    opacity: 0;
    font-size: 12px;
    z-index: 2;
    transition: .3s
}

#nav-music:hover:not(.playing) #nav-music-hoverTips {
    opacity: 1
}

#nav-music .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap:hover .aplayer-bar .aplayer-played .aplayer-thumb {
    display: none
}

#nav-music .aplayer {
    background: var(--card-bg);
    border-radius: 60px;
    height: 41px;
    display: flex;
    margin: 0;
    transition: .3s;
    border: var(--style-border);
    box-shadow: none
}

#nav-music.playing .aplayer {
    background: var(--beiqiu-main);
    border: var(--style-border-hover);
    backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: blur(20px);
    transform: translateZ(0)
}

#nav-music .aplayer .aplayer-notice {
    display: none
}

#nav-music .aplayer .aplayer-miniswitcher {
    display: none
}

#nav-music .aplayer .aplayer-body {
    position: relative;
    display: flex;
    align-items: center
}

#nav-music .aplayer-list {
    display: none
}

#nav-music .aplayer .aplayer-info .aplayer-music {
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0 12px 0 8px;
    cursor: pointer;
    z-index: 1;
    height: 100%
}

#nav-music .aplayer .aplayer-info .aplayer-controller .aplayer-time {
    display: none
}

#nav-music .aplayer .aplayer-info .aplayer-music .aplayer-author {
    display: none
}

#nav-music .aplayer.aplayer-withlist .aplayer-info {
    border: none
}

#nav-music .aplayer .aplayer-pic .aplayer-button {
    bottom: 50%;
    right: 50%;
    transform: translate(50%,50%);
    margin: 0;
    transition: .3s
}

#nav-music .aplayer .aplayer-pic:has(.aplayer-button.aplayer-play) {
    animation-play-state: paused;
    transform: rotate(0) scale(1)!important
}

#nav-music .aplayer.aplayer-withlrc .aplayer-pic {
    margin-left: 8px
}

#nav-music .aplayer .aplayer-info .aplayer-music .aplayer-title {
    cursor: pointer;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: .3s;
    user-select: none
}

#nav-music .aplayer .aplayer-info .aplayer-controller {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

#nav-music .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap {
    margin: 0;
    padding: 0
}

#nav-music .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
    height: 100%;
    background: 0 0
}

#nav-music .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
    display: none
}

#nav-music .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
    height: 100%;
    opacity: .1;
    background-color: var(--beiqiu-white)!important;
    animation: lightBar 5s ease infinite;
    animation-play-state: paused
}

#nav-music.playing .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
    animation-play-state: running
}

@keyframes lightBar {
    0% {
        opacity: .1
    }

    60% {
        opacity: .3
    }

    100% {
        opacity: .1
    }
}

#nav-music .aplayer.aplayer-withlrc .aplayer-lrc {
    width: 0;
    opacity: 0;
    transition: .3s;
    margin-top: -2px;
    padding: 5px 0
}

#nav-music.stretch .aplayer.aplayer-withlrc .aplayer-lrc {
    width: 200px;
    margin-left: 8px;
    opacity: 1
}

#nav-music .aplayer .aplayer-lrc p.aplayer-lrc-current {
    color: var(--beiqiu-white);
    border: none;
    min-height: 20px
}

#nav-music .aplayer .aplayer-lrc:after,#nav-music .aplayer .aplayer-lrc:before {
    display: none
}

#nav-music .aplayer .aplayer-lrc p {
    color: #ffffffb3;
    line-height: 40px!important;
    height: 40px!important;
    margin: 0 0;
    vertical-align: top
}

#nav-music .aplayer .aplayer-pic {
    pointer-events: none
}

#nav-music .aplayer .aplayer-pic .aplayer-button {
    pointer-events: all
}
